# openweather
openweather_url = 'http://api.openweathermap.org/data/2.5/forecast?zip='
openweather_key = ''

# globals
zip_code = 12345

# facebook
facebook_birthday_url = 'https://www.facebook.com/events/birthdays/'
facebook_email = ''
facebook_password = ''